# Folders

bin/
pkg/
/click/
/go-installation/
/src/gopkg.in/
/setup.rb
/chroot-scripts/*
/install-on-device.sh
/build-in-chroot.sh
/run.sh
/build.sh
# Gedit files

*~

# Copied host binary

/ubuntu-go-qml-template

# Ubuntu SDK files

*.goproject.user
